<footer class= text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2026 Ritzin Dev v. 0.0.1
    <a class="text-body" href="/imprint">Imprint</a>
    <a class="text-body" href="/privacy_notice">Privacy Notice</a>
  </div>
  <!-- Copyright -->
</footer>