TOKEN=<bot token>
POSTGRES_DB=<db name>
POSTGRES_USER=<db user>
POSTGRES_PASSWORD=<db password>
POSTGRES_PORT=<db port>
POSTGRES_HOST=<db host>
ConnectionStrings__Default=Host=<db host>;Port=<db port>;Database=<db name>;Username=<db user>;Password=<db password>
Fluxer__ClientId=<oauth client id>
Fluxer__ClientSecret=<oauth client secret>