@import "variables";
@import "bootstrap/scss/bootstrap";
@import "overrides";

body {
    background-color: $body-bg;
}


@keyframes drift {
  from { transform: scale(1)   translateY(0px); }
  to   { transform: scale(1.05) translateY(-12px); }
}

.hover-lift {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}
.hover-lift:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

