<a href="/login" class="btn btn-primary text-white">Login with Fluxer</a>
@* @code {
    private void Login() => Navigation.NavigateTo("/login", forceLoad: true);
    private void Logout() => Navigation.NavigateTo("/logout", forceLoad: true);
} *@