@page "/"

<PageTitle>Ledger</PageTitle>
<div class="w-100">

<h1 class="text-center">Ledger <img class="img-fluid" src="feather_icon_1.svg" height=100></h1>
</div>
<h2 class="my-3">The Fluxer leaderboard bot to rule them all!</h2>

<div class="row">
    <div class="card w-25 m-2">
        <div class="card-body">
            <div class="card-title">Guild Leaderboards</div>
            Track message leaderboards for guilds as we all know and love it
            </div>
    </div>
    <div class="card w-25 m-2">
        
        <div class="card-body">
            <div class="card-title">Global Leaderboards</div>
            <div class="card-subtitle mb-2 text-muted">Coming soon</div>
            Join the global message leaderboard that spans every guild Ledger is in</div>
    </div>
    <div class="card w-25 m-2">
        <div class="card-body">
            <div class="card-title">Voice Leaderboards</div>
            <div class="card-subtitle mb-2 text-muted">Coming soon</div>
            See who fell asleep in vc or who just enjoys talking there the most
            </div>
    </div>
    <div class="card w-25 m-2">
        <div class="card-body">
            <div class="card-title">Custom Leaderboards</div>
            <div class="card-subtitle mb-2 text-muted">Coming soon</div>
            Setup custom metrics like total emoji usage or specific word usage
            </div>
    </div>
    <div class="card w-25 m-2">
        <div class="card-body">
            <div class="card-title">Group Leaderboards</div>
            <div class="card-subtitle mb-2 text-muted">Coming soon</div>
            Setup a leaderboard just for a group of friends globally, in a guild or even in a group chat
            </div>
    </div>
</div>

<div class="container mt-5">
    <div class="d-flex flex-row align-items-center justify-content-around">

    <a class="btn btn-primary h2 link-underline link-underline-opacity-0 text-dark" href="https://web.fluxer.app/oauth2/authorize?client_id=1477583679345730334&scope=bot&permissions=65600"><img src="ledger.png" width=20 height=20 class="rounded-circle"> Invite Ledger to your community</a>
    <a class="btn btn-primary h2 link-underline link-underline-opacity-0 text-dark" href="https://web.fluxer.app/oauth2/authorize?client_id=1477583878327755492&scope=bot&permissions=65600"><img src="ledger.png" width=20 height=20 class="rounded-circle"> Invite the experimental version</a>
    </div>
</div>

