@page "/imprint"
<PageTitle>Impressum/Imprint</PageTitle>

<h1>Impressum/Imprint</h1>


<p>Angaben gemäß § 5 DDG</p>
<p>
Ava Wallenfang<br>
c/o Block Services<br>
Stuttgarter Str. 106<br>
70736 Fellbach
</p>
<p>
Kontakt/Contact: <br>
E-Mail: <a href="mailto:@Email">@Email</a>
</p>
Hinweis: Diese Website wird privat und ohne kommerzielle Absicht betrieben.

@code {
    private string Email => "ritzindev" + "@" + "gmail.com";
}

